/* GENERIC */

html {
    height: 100%;
    width: 100%;
}

body {
    font-family:Verdana, sans-serif;
    color:white;
    margin:0%;
    background-image:url("images/background-code.png");
    background-attachment: fixed;
    background-color: black;
}

img {
    width:100%;
}

h1 {
    font-family:"Cascadia Mono", "Lucida Console", monospace;
    font-weight: normal;
    color:#974ec3;
    padding:0px;
    padding-top:20px;
}

nav {
    font-family:"Cascadia Mono", "Lucida Console", monospace;
}

hr {
    border:none;
    color:#974ec3;
    background-color: #974ec3;
    height:3px;
    width:200px;
    margin-right:auto;
    margin-left:0px;
    margin-top:0px;
    margin-bottom:20px;
}

iframe {
    margin-left:auto;
    margin-right:auto;
    border-radius: 20px;
}

/* HEADER*/
header {
    display:grid;
    grid-template-columns: 20fr 1fr 1fr;
    background-color: #17092b;
    height:130px;
}

.headerLogo img {
    display: block;
    width:600px;
    margin-top:20px;
    margin-left:20px;
}

.headerLink img {
    display: block;
    width:30px;
    margin-top:50px;
    margin-left:auto;
    margin-right:20px;
}


/* NAVIGATION */
nav {

    color: white;
    background-color: #1f0a3e;

    text-align: center;
    width:100%;
    position: sticky;
    padding-top:8px;
    padding-bottom:6px;

    top:0;
    margin:0%;
}

/* MAIN */
.main {
    background-color:#161616;
    padding-bottom:60px;
    padding-top: 1px;
}


.mainSection {
    padding-left:100px;
    padding-right:100px;
    margin-bottom:100px;
}

.footerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100px;
}

/* SNOWBOARD PENGUIN */
.bodySnowboardPenguin {
    font-family:"Mouse Memoirs", Verdana, sans-serif;
    color:#007aff;
    margin:0%;
    background-image:url("images/snowboard-penguin-background.png");
    background-attachment: fixed;
    background-size:cover;
    background-color: #60c8ff;
}

.bodySnowboardPenguin .main {
    font-size: 175%;
    background-color: white;
}

/* LINKS */
a {
    text-decoration: none;
}
a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:#974ec3
}

a:active {
    color:#974ec3
}

/* FONTS */
@font-face {
    font-family: "Cascadia Mono";
    src: url("fonts/CascadiaMono.ttf");
}

@font-face {
    font-family: "Merriweather Light";
    src: url("fonts/Merriweather-Light.ttf");
}

@font-face {
    font-family: "Mouse Memoirs";
    src: url("fonts/MouseMemoirs-Regular.ttf");
}

/* MOBILE VIEW */
@media screen and (max-width: 800px) {
    header {
        grid-template-columns: 1fr;
        height:200px;
    }

    .headerLogo img {
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    .headerLink img {
        margin-top:10px;
        margin-left:auto;
        margin-right:auto;
    }

    .mainContent{
        padding-left:6px;
        padding-right:6px;
    }

    .mainSection {
        padding-left:6px;
        padding-right:6px;
        margin-bottom:100px;
    }
}

/* RESTRICT MAIN CONTENT WIDTH */
@media screen and (min-width: 800px) {
    .main {
      width: 800px;
      margin: auto;
    }
  }